*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#05050a;
  color:white;
  font-family:'Rajdhani',sans-serif;
}

nav{
  position:fixed;
  top:0;
  width:100%;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(0,0,0,.7);
  backdrop-filter:blur(10px);
  z-index:1000;
}

.nav-logo{
  display:flex;
  align-items:center;
  gap:12px;
  font-family:'Orbitron';
  font-weight:900;
  color:#b84dff;
}

.nav-logo img{
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit:cover;

  box-shadow:
  0 0 10px #a855f7,
  0 0 30px #7b2fff;
}

.nav-links{
  display:flex;
  gap:30px;
  list-style:none;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

#hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;

  background:
  linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)),
  url("logo.png");

  background-size:cover;
  background-position:center;
}

.hero-content{
  max-width:700px;
  padding:20px;
}

.hero-badge{
  display:inline-block;
  padding:8px 18px;
  border:1px solid #7b2fff;
  border-radius:30px;
  margin-bottom:25px;
  color:#39ff14;
}

h1{
  font-size:70px;
  font-family:'Orbitron';
  color:#c86fff;

  text-shadow:
  0 0 20px #7b2fff,
  0 0 40px #7b2fff;
}

.hero-content p{
  margin-top:20px;
  font-size:22px;
  color:#ccc;
}

.buttons{
  margin-top:40px;
  display:flex;
  gap:20px;
  justify-content:center;
}

.btn{
  padding:15px 30px;
  background:#7b2fff;
  color:white;
  text-decoration:none;
  border-radius:10px;
  transition:.3s;
}

.btn:hover{
  transform:translateY(-5px);
  box-shadow:0 0 20px #7b2fff;
}

.btn2{
  background:#111;
  border:1px solid #7b2fff;
}

section{
  padding:100px 40px;
}

h2{
  text-align:center;
  font-size:45px;
  margin-bottom:50px;
  font-family:'Orbitron';
  color:#b84dff;
}

.cards,
.shop-grid,
.admin-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.card,
.shop-card,
.admin-card{
  background:#11111b;
  border:1px solid rgba(123,47,255,.3);
  padding:30px;
  border-radius:20px;
  text-align:center;

  transition:.3s;
}

.card:hover,
.shop-card:hover,
.admin-card:hover{
  transform:translateY(-8px);
  box-shadow:0 0 25px rgba(123,47,255,.5);
}

.card span{
  font-size:50px;
}

.card h3,
.shop-card h3,
.admin-card h3{
  margin-top:15px;
  font-size:28px;
}

.shop-card button{
  margin-top:20px;
  width:100%;
  padding:12px;
  border:none;
  background:#7b2fff;
  color:white;
  border-radius:10px;
  cursor:pointer;
}

.avatar{
  width:80px;
  height:80px;
  border-radius:50%;
  background:#7b2fff;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
  font-size:35px;
}

footer{
  text-align:center;
  padding:40px;
  background:#08080f;
  color:#777;
}

@media(max-width:768px){

  h1{
    font-size:45px;
  }

  .nav-links{
    display:none;
  }

  .buttons{
    flex-direction:column;
  }

}